<div class="flex justify-between">
  <div class="flex flex-col mb-2.5 pb-4">
    <span class="text-4xl font-bold">Invoices</span>
    <span>There are total {{ invoiceCount }} Invoices</span>
  </div>
  <div class="flex flex-row items-center">
    <div class="card filterSelect m-2.5 min-w-5">
      <form [formGroup]="formGroup!">
        <p-dropdown
          [options]="filters"
          optionLabel="key"
          optionValue="value"
          (change)="onFilterEventChange($event)"
          formControlName="selectedFilter"
          placeholder="Filter by Status"
        />
      </form>
    </div>
    <button class="cursor-pointer border-0 bg-transparent">
      <p-image src="/assets/icon-button-invoice.svg" alt="New Invoice" />
    </button>
  </div>
</div>
