<div class="card">
  <p-table [value]="this.invoices" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="body" let-invoice>
      <tr>
        <td>
          <span class="font-semi-bold">{{
            getTransformedColumnValue("id", invoice.id)
          }}</span>
        </td>
        <td>
          <span class="text-violet-400">{{
            getTransformedColumnValue("paymentDue", invoice.paymentDue)
          }}</span>
        </td>
        <td>
          <span class="text-indigo-400">{{ invoice.clientName }}</span>
        </td>
        <td>{{ invoice.total | currency : "GBP" }}</td>
        <td>
          <div
            class="w-3/5 p-2 flex items-center"
            [ngClass]="getStatusBgClass(invoice.status)"
          >
            <span
              class="w-3 p-2 mr-2 rounded-2xl"
              [ngClass]="getStatusBulletClass(invoice.status)"
            ></span>
            <span
              [ngClass]="[getStatusTextClass(invoice.status), 'font-semi-bold']"
              >{{ getTransformedColumnValue("status", invoice.status) }}</span
            >
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
