<div class="flex w-screen h-screen flex-row'">
  <div class="flex flex-col h-screen justify-between w-28 bg-gray-600">
    <div class="bg-violet-500 p-8">
      <p-image src="/assets/icon-pacman.png" />
    </div>
    <div>
      <div class="pl-10 pr-10 pb-5 pt-5">
        <p-image src="/assets/icon-moon.svg" />
      </div>
      <p-divider />
      <div className="p-4">
        <img
          src="/assets/image-avatar.jpg"
          alt="Avatar"
          class="rounded-full p-4"
        />
      </div>
    </div>
  </div>
  <div class="container">
    <router-outlet />
  </div>
</div>
