<div class="flex flex-column">
  <div class="grid">
    <div class="col-6">
      <h1>Invoices</h1>
    </div>
    <div class="flex flex-row col-offset-3 col-3">
      <div class="card filterSelect">
        <form [formGroup]="formGroup!">
          <p-dropdown
            [options]="filters"
            optionLabel="key"
            optionValue="value"
            (change)="onFilterChange($event)"
            formControlName="selectedFilter"
          />
        </form>
      </div>
      <div>
        <button
          pButton
          pRipple
          label="New Invoice"
          class="p-button-success"
        ></button>
      </div>
    </div>
  </div>

  <div class="card">
    <p-table
      [value]="this.filteredInvoices"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Payment Due</th>
          <th>Client Name</th>
          <th>Total</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-invoice>
        <tr>
          <td>{{ invoice.id }}</td>
          <td>{{ invoice.paymentDue }}</td>
          <td>{{ invoice.clientName }}</td>
          <td>{{ invoice.total }}</td>
          <td>{{ invoice.status }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
